{% extends 'base.html.twig' %}

{% block title %}Argonautes index{% endblock %}

{% block body %}
    <h1>Argonautes index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Softskill</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for argonaute in argonautes %}
            <tr>
                <td>{{ argonaute.id }}</td>
                <td>{{ argonaute.name }}</td>
                <td>{{ argonaute.softskill }}</td>
                <td>
                    <a href="{{ path('argonautes_show', {'id': argonaute.id}) }}">show</a>
                    <a href="{{ path('argonautes_edit', {'id': argonaute.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('argonautes_new') }}">Create new</a>
{% endblock %}
